* {
	doutline: red dotted 1px;
}
html {
	doutline: blue dotted 4px;
}
body {
	doutline: yellow dotted 2px;
}

html {
	font-size: 1.2em;
	padding: 1em 1em 0em 1em;
}

body {
	padding: 1em 1em 0em 1em;
}

h1, h2 {
	text-align: center;
}

br {
	display: none;
}

article > form {
	min-width: 30em;
	max-width: 30em;
	width:     30em;
	padding: 1em 2em;
	margin: auto;
}

input {
	font-family: inherit;
}

label, select, input {
	box-sizing: border-box;
	display: inline-block;
	font-size: 1em;
	margin-top: 1em;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

label {
	padding: 1em;
	text-align: right;
}

label:after {
	content: ":";
}

select, input {
	padding-left: 1em;
	height: 3em;
	vertical-align: middle;
}

output {
	padding: 1em;
	text-align: center;
	display: block;
	margin: auto;
}

button {
	font-size: 1em;
	margin: 0em auto;
	margin-top: 1em;
	padding: 0.3em;
	background-color: #fff;
	display: block;
	width: 50%;
	height: 3em;
	border-radius: 1em;
	border: 1px solid grey;
	cursor: pointer;
}

button:hover, button:focus {
	border: 1px solid black;
	background-color: #ff7;
}

button:active {
	border: 1px solid black;
	background-color: #f7f;
}

button:focus {
	border: 1px solid black;
	background-color: #7ff;
}

button:disabled {
	cursor: default;
}

.hidden {
	display: none;
}

.good {
	background-color: #7f7;
}
.bad {
	background-color: #f77;
}

#ex0-current-num.output-even {
	color: #f00;
}
#ex0-current-num.output-odd {
	color: #0f0;
}
#ex0-current-num {
	padding: 0;
	font-size: 10em;
	text-align: center;
	display: block;
}

#ex1-outputs {
	position: relative;
	font-size: 5em;
	height: 2em;
}

#ex1-operand0,
#ex1-operation,
#ex1-operand1 {
	margin: 0;
	padding: 0;
	text-align: right;
	position: absolute;
}

#ex1-operand0,
#ex1-operand1 {
	right: 0;
	width: 3em;
	height: 1em;
}
#ex1-operand0 {
}
#ex1-operation {
	right: 3em;
	top: 0.5em;
}
#ex1-operand1 {
	top: 1em;
}

#ex1-results label,
#ex1-results input {
	text-align: left;
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}
#ex1-results label:after {
	font-size: 2em;
	content: "";
}

#ex1-results input {
	text-align: right;
	font-size: 5em;
	height: 1em;
}

#ex1-stat-score,
#ex1-stat-time {
	position: fixed;
	color: #0f0;
	font-weight: bold;
	font-size: 3em;
	height: 1em;
	padding: 0;
	background-color: #444;
	display: block;
	padding: 0 1em;
}

#ex1-stat-score {
	left: 0;
	bottom: 0;
	border-right: 1em solid #444;
}

#ex1-stat-time {
	text-align: right;
	right: 0;
	bottom: 0;
}
